.state-floorplan {

    #floor-plan {

        .floor-plan {

            .imagemap {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                .unit {
                    position: absolute;
                    background: #2b2b2b;
                    opacity: .8;
                    text-align: center;
                    padding: 3px;
                    padding-top: 10px;
                    cursor: pointer;

                    &:hover { opacity: 0.75; }

                    .text-temp {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                    }

                    //$sc-Pending: #4caf50;
                    $sc-Pending: black;
                    $sc-Reserved: gray;
                    $sc-Available: green;
                    $sc-On-Hold: orange;
                    $sc-Committed: blue;
                    $sc-Booked: red;
                    $sc-Rented: #2b2b2b;
                    $sc-Maintenance: red;

                    &.Pending { background: $sc-Pending }
                    &.Reserved { background: $sc-Reserved }
                    &.Available { background: $sc-Available }
                    &.On-Hold { background: $sc-On-Hold }
                    &.Committed { background: $sc-Committed }
                    &.Booked { background: $sc-Booked }
                    &.Rented { background: $sc-Rented; opacity: 1}
                    &.Maintenance { background: $sc-Maintenance }
                }
            }
        }
    }
}
